/* style.css */
body {
    font-family: "Consolas", sans-serif;
    font-size: 14px;
  }
  
  header {
    text-align: center;
    background-color: #ddd;
    padding: 1em;
  }
  
  #apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .app {
    width: 300px;
    margin: 1em;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .app img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }
  
  .app h2 {
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  
  .app p {
    font-size: 12px;
    margin-bottom: 1em;
    padding: 0 1em;
  }
  
  .app button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
  }
  
  .app button:hover {
    background-color: #3e8e41;
  }
  
  /* Media Queries */
  @media (max-width: 800px) {
    .app {
      width: 90%;
    }
  }
  
  @media (max-width: 500px) {
    .app {
      width: 100%;
    }
  }